* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    border: 0px;
    box-sizing: border-box;
}

/*whats the difference between "./" and "../"? */

body {
    background: url("./website-images/cooking-class-background-image.JPG") no-repeat fixed center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("./website-images/cooking-class-background-image.JPG");
    background-size: cover;
    text-align: center;
}

main {
    background-attachment: fixed;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    opacity: 0.95;
}

form {
    border: 3px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p,
li,
a {
    font-family: 'Josefin Slab', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
}

h2 {
    color:
}

nav {
    margin: 20px;
}

input {
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

p {
    margin: 5px;
    padding 5px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

button {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#welcome,
.signInMessage {
    font-size: 40px;
    margin-bottom: 25px;
}

.loginInnerContainer,
.signInInnerContainer,
.innerSignUpBox {
    border: 3px solid #291709;
    padding: 40px;
    margin: 30px;
}

.loginLogo {
    width: 40%;
}

.signInLogo {
    width: 30%;
}

.loginOptions {
    display: block;
    width: 335px;
    border-radius: 3px;
    font-size: 1.1em;
    text-decoration: none;
    background-color: #d9d9d9;
    text-shadow: .5px .5px white;
    color: #595959;
    border: 1px solid #291709;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

.navListItems {
    display: inline-block;
}

.navContent {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    margin: 30px;
}

.introInnerContainer {
    border: 4px solid black;
    width: 50%;
    height: 18.5rem;
    margin-left: auto;
    margin-right: auto;
}

.introContent {
    margin-top: 10px;
}

.signInform {
    height: 160px;
    width: 400px;
}

.signInInput,
.formControl {
    display: block;
    height: 30px;
    width: 325px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #d9d9d9;
    border-radius: 4px
}

.signInButton {
    border-radius: 4px;
    height: 30px;
    width: 325px;
    background-color: #787878;
    color: white;
}

.signUpForm {
    width: 400px;
    height: 375px;
}

.formGroup {
    display: block;
    margin: 7px;
}

.dummyAccountScreen,
.homeScreen,
.searchScreen {
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    height: auto;
    opacity: 0.95;
}

.dummyRecipeSnippetContainer,
.recipeSnippetContainer,
.successScenario {
    background-color: #787878;
    width: 90%;
    opacity: 0.95;
    margin-left: auto;
    margin-right: auto;
}

.recipeLink,
.recipeResultsLink {
    width: 45%;
    display: inline-block;
    padding: 10px;
    margin: 0 15px 15px 0;
    background-clip: padding-box;
    /*    border: 1px solid rgba(255, 255, 255, 0.9);*/
}



.recipeResultOption {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.recipeImgContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.successResultsImgContainer {
    width: 100%;
}

.recipeTitle {
    font-size: 25px;
    color: black;
}

.recipeImg {
    width: 100%;
    border: 1px solid black;
}

.searchBarContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    display: inline-block
}

.search {
    width: 90%;
    height: 50px;
    text-align: left;
    padding: 10px;
    background-color: #787878;
    color: white;
}

.searchSubmit {
    width: 6%;
    height: 50px;
    background-color: #787878;
}

.fa-search {
    color: white;

}







/*psuedo*/

.navContent:hover {
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0.9);
}

.loginOptions:hover {
    border: 3px dotted black;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.9);
}





/*media queries*/
